<div class="success-msg">This is a success message.</div>
<table class="main-tbl" id="apps">
  <thead>
    <tr>
      <th>App Name</th>
      <th>App Admins</th>
    </tr>
  </thead>
  <tbody>
    <% apps.forEach(element => { %>
    <tr data-id="<%= element.a_id %>">
      <td><%= element.appname %></td>

      <td>
        <% element.users.forEach(u => { %>
        <p data-user-uuid="<%= u.uuid %>"><%= u.user %></p>
        <% }) %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
