<div data-url="/colleagues" class="tab col-tab tab1">Colleagues</div>
<div data-url="/workgroups" class="tab wg-tab tab2">Workgroup</div>
<div data-url="/apps" class="tab app-tab tab3">Apps</div>
<div data-url="/appadmingroups" class="tab aag-tab tab4">App Admins</div>