.sidepanel {
  width: 0;
  position: fixed;
  z-index: 999;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #caebff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.closebtn {
  color: red;
  padding: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 30px;
  text-decoration: none;
}

.col-view {
  padding: 20px;
}

.indicator {
  display: inline;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  height: 0px;
  width: auto;
  height: 20px;
  display: none;
}

.saved {
  background-color: rgb(176, 255, 176);
  position: relative;
}

.unsaved {
  background-color: red;
  position: relative;
}

ul {
  list-style-type: none;
}

.inline {
  display: inline;
}