<div class="modal-content" data-scripts="new-colleague">
  <h2>Add New Colleague</h2>
  <form action="" method="post" class="new">
    <span id="close-modal">&times;</span>

    <label for="firstname">First Name</label>
    <input type="text" name="firstname" required /> <br />

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" required /> <br />

    <label for="workgroup">Workgroup</label>
    <select name="workgroup" id="workgroup">
      <% workgroups.forEach(element => { %>
       <option value="<%=element.wg_id%>"><%= element.wgname %> </option>
      <% }) %>
    </select>

    <label for="jobtitle">Job Title</label>
    <input type="text" name="jobtitle" required /> <br />

    <label for="startdate">Start Date</label>
    <input type="date" name="startdate" id="" required /> <br />

    <label for="enddate">End Date</label>
    <input type="date" name="enddate" id="" /> <br />

    <label for="personalemail">Personal Email</label>
    <input type="email" name="personalemail" id="" required /> <br />

    <button type="submit">Add</button>
  </form>
</div>
<!-- <script src="/newColleague.js"></script> -->
